$h1-font-size   : 20px;
$h1-small-color : #1D1D1D;

h1 {
    font-size: $h1-font-size;
}

@for $i from 0 through 2 {
    @media screen and (max-width: (960px - 320px * $i)) {
        h1 {
            font-size: $h1-font-size - 2* ($i+1);

            @if $i==2 {
                &.small {
                    color: $h1-small-color;
                }
            }
        }
    }
}